

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
font-family: Vectrex;
src: url(vectrex-bold.ttf);
}

@font-face {
font-family: Sk-Modernist;
src: url(Sk-Modernist-Regular.otf);
}


body {

 background: rgb(115,125,254);
background: linear-gradient(135deg, rgba(115,125,254,1) 0%, rgba(255,202,201,1) 100%);

}

h1{
    font-size: 60px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
  }



pre{
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    bottom: 23px;
    font-weight: 800;
}

p{
  font-size: 15px;
font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

a{
  font-size: 15px;
font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

h2{
  font-size: 60px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  opacity: .4;
}

pre{
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#description1 {
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#description2{
  font-size: 33px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#description3{
  font-size: 33px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#description4{
  font-size: 35px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#description5{
  font-size: 33px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#description6{
  font-size: 40px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#title1{
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

#roadmap{
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}
